@use '../abstract/variables';
@use '../abstract/mixins';

#contatos{
    @include mixins.margem-central(80%);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    .contatos-imgs{
        max-width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: space-around;
        img {
            width: 100%;
            &:nth-child(n + 2) {
                width: 48%;
            }
        }
    }
    .contatos-form {
        max-width: 50%;
        background: variables.$mainly-gradient;
        padding: 2rem 3rem;
        border-radius: 2rem;
        .titulo {
            @include mixins.ff-fs-color(variables.$font-title, 1.9rem, variables.$secondary-color);
        }
        .infos {
        @include mixins.ff-fs-color(variables.$font-text, 1.2rem, variables.$mainly-color);
        }
        .inputs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            align-self: stretch;
        }
        input {
            border-radius: 25px;
            padding: 1rem;
            border: none;
        }
        .form-group {
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 1rem;
            label {
                @extend .infos;
                font-weight: bold;
            }
            textarea {
                @extend input;
            }
        }
        .btn {
            @extend input;
            margin-top: 2rem;
            background-color: variables.$secondary-color;
            color: variables.$white-color;
            font-size: 1rem;
            width: 100%;
            font-weight: bold;
            &:hover {
                background: variables.$mainly-color;
                transition: 0.5s;
                cursor: pointer;
            }
        }
    }

    .form-group-title {
        @include mixins.ff-fs-color(variables.$font-text, 1.2rem, variables.$mainly-color);
        font-weight: bold;
    }
    .form-group-radio {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        padding: 2rem;
        @include mixins.ff-fs-color(variables.$font-text, 1.0rem, variables.$mainly-color);
    }
}

fieldset {
    border: none;
}