@use '../abstract/variables';
@use '../abstract/mixins';

#desconto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    h4 {
        @include mixins.ff-fs-color(variables.$font-title, 1.6rem, variables.$mainly-color);
    }
    p {
        @include mixins.ff-fs-color(variables.$font-text, 1.2rem, variables.$mainly-color);
    }
    .input-btn {
        $width-input: 790px;
        width: $width-input;
        height: 65px;
        border: 1px solid variables.$secondary-color;
        border-radius: 65px;
        margin: 0 auto;
        display: inline-flex;
        input {
            @include mixins.ff-fs-color(variables.$font-text, 1.2rem, variables.$mainly-color);
            width: calc($width-input * 0.65);
            border: none;
            outline: none;
            margin-left: 2rem;
        }
        button {
            @include mixins.ff-fs-color(variables.$font-text, 1.2rem, variables.$mainly-color);
            width: calc($width-input * 0.35);
            background: variables.$secondary-color;
            border-radius: 0 65px 65px 0;
            border: none;
            color: variables.$white-color;
        }
    }
}