

//Variables - Colors
$mainly-color: #0C0421;
$secondary-color: #4E75FF;
$third-color: #85A0FF;
$quartenary-color: #E8F5C8;
$default-color: #CAD4FA;
$white-color: white;
$mainly-gradient: linear-gradient(#E8F5C8, #FFFFFF);
$secondary-gradient: linear-gradient(#FFFFFF, #e0d6d6);
$font-size: 62.5%;

//Variables - Fonts
$font-text: 'Montserrat', sans-serif;
$font-title: 'Krona One', sans-serif;

